<html>
  <head>
    <title>Create new transaction</title>
  </head>
  <body>

    <form method="POST" action="/add_transaction">
        <label for="date">Date (YYYY-mm-dd):</label><br>
        <input type="text" id="date" name="date"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="amount">Amount:</label><br>
        <input type="text" id="amount" name="amount"><br><br>
        <input type="submit" value="Submit">
    </form> 

</body>
</html>